<div class="container" *ngIf="(topic$ | async) as topic">
  <form #topicDetailsForm="ngForm" (ngSubmit)="save()">
    <div style='margin-top:20px;'>
      <span class="app-title-label">Topic Details</span>
    </div>
    <mat-divider></mat-divider>

    <!-- Topic Details -->
    <div >
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">ID</mat-label>
          <input matInput [(ngModel)]="topicId" [name]="'ID_' + topicId" disabled>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">Topic Key</mat-label>
          <input matInput [(ngModel)]="topic.TopicKey" name="TopicKey">
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="topic.Active" name="Active">Active</mat-slide-toggle>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">ContactWay</mat-label>
          <input matInput [(ngModel)]="topic.ContactWay" name="ContactWay">
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">Destination</mat-label>
          <input matInput [(ngModel)]="topic.Destination" name="Destination">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">BotName</mat-label>
          <input matInput [(ngModel)]="topic.BotName" name="BotName">
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">Format</mat-label>
          <input matInput [(ngModel)]="topic.Format" name="Format">
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">OutboundAdapter</mat-label>
          <input matInput [(ngModel)]="topic.OutboundAdapter" name="OutboundAdapter">
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">ExecutionComponent</mat-label>
          <input matInput [(ngModel)]="topic.ExecutionComponent" name="ExecutionComponent">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">TemplateMsg</mat-label>
          <input matInput [(ngModel)]="topic.TemplateMsg" name="TemplateMsg">
        </mat-form-field>
        <mat-form-field floatLabel="always" style="width: 800px;">
          <mat-label class="highlight-field">Template</mat-label>
          <textarea matInput cdkTextareaAutosize [(ngModel)]="topic.Template" name="Template"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">SubjectMsg</mat-label>
          <input matInput [(ngModel)]="topic.SubjectMsg" name="SubjectMsg">
        </mat-form-field>
        <mat-form-field floatLabel="always" style="width: 800px;">
          <mat-label class="highlight-field">Subject</mat-label>
          <textarea matInput cdkTextareaAutosize [(ngModel)]="topic.Subject" name="Subject"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
        <mat-form-field floatLabel="always">
          <mat-label class="highlight-field">BodyFormat</mat-label>
          <input matInput [(ngModel)]="topic.BodyFormat" name="BodyFormat">
        </mat-form-field>
        <mat-form-field floatLabel="always" style="width: 800px;">
          <mat-label class="highlight-field">BodyTemplate</mat-label>
          <textarea matInput cdkTextareaAutosize [(ngModel)]="topic.BodyTemplate" name="BodyTemplate"></textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- Button bar -->
    <div class="buttonBar">
      <div class="buttonBarButtons">
        <button type="submit" mat-raised-button color="primary" style='margin-right: 10px;' [disabled]="(topicDetailsForm.pristine) ">Save</button>
        <button type="button" mat-raised-button (click)="goBack()">Back</button>
      </div>		
    </div>
  </form>
</div>
