<div class="">
  <mat-table [dataSource]="topics$ | async" class="result-table mat-elevation-z8">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <span matTooltip="Clear filters">
          <button mat-icon-button color="accent" (click)="clickResetFilters()">
            <mat-icon>clear</mat-icon>
          </button>
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let topic">
        <button mat-icon-button routerLink="/topic/{{ topic._id }}">
          <mat-icon aria-label="View">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic._id}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="topicKey">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Topic Key" [(ngModel)]="filters.topicKey" (change)="onChangeFilter($event)">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.TopicKey}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="contactWay">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Contact Way" [(ngModel)]="filters.contactWay" (change)="onChangeFilter($event)">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.ContactWay}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="format">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Format" [(ngModel)]="filters.format" (change)="onChangeFilter($event)">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.Format}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Destination" [(ngModel)]="filters.destination" (change)="onChangeFilter($event)">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.Destination}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="botName">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Bot Name" [(ngModel)]="filters.botName" (change)="onChangeFilter($event)">
          </mat-form-field>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.BotName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="template">
      <mat-header-cell *matHeaderCellDef>Template</mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.Template}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="notifications">
      <mat-header-cell *matHeaderCellDef>Notifications</mat-header-cell>
      <mat-cell *matCellDef="let topic">{{topic.Notifications}}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="totalResults" [pageSize]="50" [pageSizeOptions]="[10, 20, 50]" (page)="onChangePage($event)"></mat-paginator>

  <!-- Button bar -->
  <div class="buttonBar">
    <div class="buttonBarButtons">
      <button mat-raised-button color="primary" (click)="newTopic()" style='margin-right: 10px;'>New</button>
    </div>
  </div>
</div>