<mat-toolbar color="primary" role="header" [ngClass]="envToolbarClass">
  
  <img mat-card-sm-image src="./assets/img/notice.png" alt="Notice System" height="30">
  <!-- left aligned buttons -->
  <button mat-button (click)="clickSubscribers()">
    Subscribers
  </button>
  
  <button mat-button (click)="clickTopics()">
    Topics
  </button>
  
  <button mat-button (click)="clickNotifications()">
    Notifications
  </button>
    
  <button mat-button (click)="clickMasterFiles()">
    Master Files
  </button>

  <button mat-button (click)="clickDashboard()" *ngIf="(hasDashboard$ | async)">
    Dashboard
  </button>
  
  <!-- right aligned buttons -->
  <span class="fill-space"></span>
  <button mat-button (click)="clickLogin()" *ngIf="!(isLoggedIn$ | async)">
    login
  </button>
  <button mat-button (click)="clickLogout()" *ngIf="(isLoggedIn$ | async)">
    logout
  </button>

  <span style='margin-right:20px;' [matTooltip]="envTooltip">{{ envDescription }}</span>
  <span matTooltip="Powered by InterSystems">
    <img src="assets/img/logo-isc-simple.png" width="12"/>
  </span>
    
</mat-toolbar>
